<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>My ACG Art.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0E7B1671D8066B100E7E22C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0E7B1831D8066B100E7E22C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0E7B18E1D8066B100E7E22C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
